@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black text-amber-100;
  }

  h1,
  h2,
  h3 {
    @apply font-serif;
  }
}
